header {
    background-color: #ffcc00; 
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  header h1 {
    font-family: 'Pokemon Solid', sans-serif; 
    font-size: 36px;
    color: #3b4cca;
    margin: 0;
  }
  
  header h2 {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #555;
    margin-top: 10px;
  }
  